
<div class="col-lg-6 col-lg-offset-3 text-center">

	<%= link_to 'Most Relevant', 'mostrelevant', :method => :get, class: "btn btn-primary" %>
	<%= link_to 'Most Mention', 'mostmention', :method => :get, class: "btn btn-success" %>

</div>

